.btn{
-fx-background-color: transparent;
-fx-cursor: hand;
-fx-border-color: #ff8c00;
-fx-border-width:5px 0px 0px 0px;


}

.btn:hover {
-fx-border-color: #007FA4;
-fx-border-width:0px 0px 5px 0px;

}
.btn_dr{
-fx-background-color: transparent;
-fx-cursor: hand;
-fx-border-color: #6ec1e4;
-fx-border-width:0px 0px 3px 0px;


}

.btn_dr:hover {
-fx-border-color: #ff8c00;
-fx-border-width:0px 0px 5px 0px;

}
.btn_sub {
-fx-background-color: linear-gradient(from 40% 40% to 100% 100%,#007FA4,#6ec1e4);
-fx-cursor: hand;
-fx-border-width:3px;
}
.btn_sub:hover {
-fx-background-color: linear-gradient(from 40% 40% to 100% 100%, #6ec1e4,#007FA4);


}
.btn_annu {
-fx-background-color:transparent;
-fx-cursor: hand;
-fx-border-width:3px;
}
.btn_annu:hover {
-fx-border-color:#c1c1c1;
-fx-border-width:0px 0px 4px 0px;
}

.box {
-fx-border-color:  linear-gradient(from 25% 25% to 100% 100%, #007FA4,#ff8c00);
-fx-border-radius:  10px 100px / 120px;
-fx-border-width:5px;

}

.zone_txt {
-fx-border-color:  #007FA4;
-fx-border-width:0px 0px 3px 0px;

}
.zone_txt:focused{
-fx-border-color: darkorange;
-fx-border-width:0px 0px 3px 0px;
}

.zone_date {
-fx-border-color:  #007FA4;
-fx-border-width:0px 0px 3px 0px;

}
.zone_date:focused{
-fx-border-color: darkorange;
-fx-border-width:0px 0px 3px 0px;
}

.zone_choice {
-fx-background-color:transparent;
-fx-cursor: hand;
-fx-border-width:3px;
-fx-border-color:  #007FA4;
}
.zone_choice:focused{
-fx-background-color:transparent;
-fx-cursor: hand;
-fx-border-width:3px;
-fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #007FA4,#ff8c00);
}

.zone_area {
-fx-border-color: #007FA4;
-fx-border-width:3px;
}
.zone_area:focused{
-fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #007FA4,#ff8c00);
-fx-border-width:3px;
}